<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Mi sitio web {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        {% block header %}
        {% block heading %} <h1>Flask Blog</h1> {% endblock %}
        <nav>
            <ul>
                <li><a href="">Log In</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </nav>

        {% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        
    </footer>
</body>
</html>